<section class="wrapper">
    <div class="container-fostrap">
        <div class="content">
            <div class="card">
                <div class="img-card">
                    <img [src]="restaurant.picture?.img ?
                         'data:' + restaurant.picture?.imgContentType + ';base64,' + restaurant.picture?.img :
                         restaurant.picture?.url || 'https://cdn.dribbble.com/users/366584/screenshots/2527274/404_1.gif'"
                         alt="picture image"/>
                </div>
                <div class="card-content" [ngSwitch]="languageService.currentLang">
                    <div class="row card-title">
                        <span class="restaurant-name">
                            {{restaurant.name}}
                        </span>
                        <span class="restaurant-rating" *ngIf="restaurant.rating">
                            <i class="fa fa-star"></i>
                            {{restaurant.rating / 10}}
                        </span>
                    </div>
                    <div class="btn btn-outline-" *ngFor="let kitchen of restaurant.kitchens">
                        <span *ngSwitchCase="'en'">{{kitchen.typeEng}}</span>
                        <span *ngSwitchCase="'hu'">{{kitchen.typeHun}}</span>
                    </div>
                    <div class="reservation-button" (click)="delete($event)">
                        <jhi-reservation-modal [restaurant]="restaurant"></jhi-reservation-modal>
                    </div>
                </div>
                <div class="card-read-more">
                    <span>{{restaurant.postalCode}} {{restaurant.city.name}}, {{restaurant.streetAddress}}</span>
                </div>
            </div>
        </div>
    </div>
</section>
