<section class="wrapper">
    <div class="container-fostrap">
        <div class="content">
            <div class="card">
                <div class="img-card">
                    <img [src]="restaurant.picture?.img ?
                         'data:' + restaurant.picture?.imgContentType + ';base64,' + restaurant.picture?.img :
                         restaurant.picture?.url || 'https://cdn.dribbble.com/users/366584/screenshots/2527274/404_1.gif'"
                         alt="picture image"/>
                </div>
                <div class="card-content">
                    <h4 class="card-title">
                        {{restaurant.name}}
                    </h4>
                    <div class="btn btn-outline-" *ngFor="let kitchen of restaurant.kitchens">
                        {{kitchen.type}}
                    </div>
                    <div class="reservation-button" (click)="delete($event)">
                        <jhi-reservation-modal [restaurant]="restaurant"></jhi-reservation-modal>
                    </div>
                </div>
                <div class="card-read-more">
                    <span>{{restaurant.postalCode}} {{restaurant.city.name}}, {{restaurant.streetAddress}}</span>
                </div>
            </div>
        </div>
    </div>
</section>
