.wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

.container-fostrap {
    display: table-cell;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
}

.card {
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 7px 7px 5px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 7px 7px 5px 0 rgba(50, 50, 50, 0.75);
    box-shadow: 7px 7px 5px 0 rgba(50, 50, 50, 0.75);
    transition: box-shadow .25s;
    cursor: pointer;

    .card-title {
        margin-top: 0;
        font-weight: 700;
        font-size: 1.65em;

        .restaurant-name {
            margin: 0 1em 0 1em;
        }
        .restaurant-rating {
            margin: 0 1em 0 1em;
            .fa-star {
                color: yellow;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: black;
            }
        }
    }
}

.card:hover {
    -webkit-box-shadow: 15px 15px 15px 0 rgba(50, 50, 50, 0.98);
    -moz-box-shadow: 15px 15px 15px 0 rgba(50, 50, 50, 0.98);
    box-shadow: 15px 15px 15px 0 rgba(50, 50, 50, 0.98);
    background-color: #ffffff;

    .restaurant-name {
        text-decoration: underline;
    }
}

.img-card {
    width: 100%;
    height: 200px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: block;
    overflow: hidden;
}

.img-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .25s ease;
}

.card-content {
    padding: 15px;
    text-align: left;

    .btn.btn-outline- {
        padding: 0.6em;
    }
}

.card-read-more {
    border-top: 1px solid #D4D4D4;
    padding: 1em;
}

.card-read-more span {
    font-size: 140%;
}
