
<div *ngIf="restaurant">
    <h2>{{restaurant.name}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details" [ngSwitch]="languageService.currentLang">
        <dt><span jhiTranslate="reservedApp.restaurant.streetAddress">Street Address</span></dt>
        <dd>
            <span>{{restaurant.streetAddress}}</span>
        </dd>
        <dt><span jhiTranslate="reservedApp.restaurant.postalCode">Postal Code</span></dt>
        <dd>
            <span>{{restaurant.postalCode}}</span>
        </dd>
        <dt><span jhiTranslate="reservedApp.restaurant.infoEng">Info Eng</span></dt>
        <dd>
            <span>{{restaurant.infoEng}}</span>
        </dd>
        <dt><span jhiTranslate="reservedApp.restaurant.infoHun">Info Hun</span></dt>
        <dd>
            <span>{{restaurant.infoHun}}</span>
        </dd>
        <dt><span jhiTranslate="reservedApp.restaurant.email">Email</span></dt>
        <dd>
            <span>{{restaurant.email}}</span>
        </dd>
        <dt><span jhiTranslate="reservedApp.restaurant.phone">Phone</span></dt>
        <dd>
            <span>{{restaurant.phone}}</span>
        </dd>
        <dt><span jhiTranslate="reservedApp.restaurant.website">Website</span></dt>
        <dd>
            <span>{{restaurant.website}}</span>
        </dd>
        <dt><span jhiTranslate="reservedApp.restaurant.facebook">Facebook</span></dt>
        <dd>
            <span>{{restaurant.facebook}}</span>
        </dd>
        <dt><span jhiTranslate="reservedApp.restaurant.googlePlaceId">Google Place Id</span></dt>
        <dd>
            <span>{{restaurant.googlePlaceId}}</span>
        </dd>
        <dt><span jhiTranslate="reservedApp.restaurant.rating">Rating</span></dt>
        <dd>
            <span>{{restaurant.rating}}</span>
        </dd>
        <dt><span jhiTranslate="reservedApp.restaurant.lat">Lat</span></dt>
        <dd>
            <span>{{restaurant.lat}}</span>
        </dd>
        <dt><span jhiTranslate="reservedApp.restaurant.lng">Lng</span></dt>
        <dd>
            <span>{{restaurant.lng}}</span>
        </dd>
        <dt><span jhiTranslate="reservedApp.restaurant.visible">Visible</span></dt>
        <dd>
            <span>{{restaurant.visible}}</span>
        </dd>
        <dt><span jhiTranslate="reservedApp.restaurant.city">City</span></dt>
        <dd>
            <div *ngIf="restaurant.city">
                <a [routerLink]="['/city', restaurant.city?.id]">{{restaurant.city?.name}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="reservedApp.restaurant.user">User</span></dt>
        <dd>
            {{restaurant.user?.login}}
        </dd>
        <dt><span jhiTranslate="reservedApp.restaurant.picture">Picture</span></dt>
        <dd>
            <div *ngIf="restaurant.picture">
                <img [src]="restaurant.picture?.img ?
                         'data:' + restaurant.picture?.imgContentType + ';base64,' + restaurant.picture?.img :
                         restaurant.picture?.url || 'https://cdn.dribbble.com/users/366584/screenshots/2527274/404_1.gif'"
                     alt="picture image"/>
            </div>
        </dd>
        <dt><span jhiTranslate="reservedApp.restaurant.kitchen">Kitchen</span></dt>
        <dd>
            <span *ngFor="let kitchen of restaurant.kitchens; let last = last">
                <span *ngSwitchCase="'en'">{{kitchen.typeEng}}</span>
                <span *ngSwitchCase="'hu'">{{kitchen.typeHun}}</span>
                {{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="reservedApp.restaurant.food">Food</span></dt>
        <dd>
            <span *ngFor="let food of restaurant.foods; let last = last">
                <span *ngSwitchCase="'en'">{{food.typeEng}}</span>
                <span *ngSwitchCase="'hu'">{{food.typeHun}}</span>
                {{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'restaurant/'+ restaurant.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
