<div class="restaurant-detail" *ngIf="restaurant">
    <div class="img-card">
        <img [src]="restaurant.picture?.img ?
                             'data:' + restaurant.picture?.imgContentType + ';base64,' + restaurant.picture?.img :
                             restaurant.picture?.url || 'https://cdn.dribbble.com/users/366584/screenshots/2527274/404_1.gif'"
             alt="picture image"/>
    </div>
    <h2>{{restaurant.name}}</h2>
    <div class="card-content">
        <p>{{restaurant.info}}</p>
        <hr>
        <h5 jhiTranslate="restaurant-list.detail.kitchen">Konyhák:</h5>
        <div class="btn btn-outline-" *ngFor="let kitchen of restaurant.kitchens">
            {{kitchen.type}}
        </div>
        <hr>
        <h5 jhiTranslate="restaurant-list.detail.food">Ételek:</h5>
        <div class="btn btn-outline-" *ngFor="let food of restaurant.foods">
            {{food.type}}
        </div>
        <hr>
        <div class="contact">
            <h5 jhiTranslate="restaurant-list.detail.contact">Elérhetőségek:</h5>
            <p>{{restaurant.postalCode}} {{restaurant.city.name}} {{restaurant.streetAddress}}</p>
            <p><a [href]="'mailto:' + restaurant.email">{{restaurant.email}}</a></p>
            <p><a [href]="'tel:' + restaurant.phone">{{restaurant.phone}}</a></p>
            <p><a target="_blank" [href]="restaurant.website" jhiTranslate="restaurant-list.detail.website">Weboldal</a>
            </p>
            <p><a target="_blank" [href]="restaurant.facebook">Facebook</a></p>
            <p>
                <button type="submit"
                        (click)="previousState()"
                        class="btn btn-info">
                    <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                </button>
            </p>
        </div>
    </div>
</div>
