@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Cabin+Sketch|Calligraffitti|Cinzel+Decorative|Fredericka+the+Great|Great+Vibes|Julius+Sans+One|Lobster|Nothing+You+Could+Do|Pacifico|Playfair+Display+SC|Special+Elite');

.restaurant-detail {
    .img-card {
        width: 100%;
        height: 20em;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        display: block;
        overflow: hidden;
        margin-bottom: 2em;
    }

    .img-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .25s ease;
    }

    h2 {
        font-family: 'Lobster', cursive;
        font-weight: 600;
        text-decoration: underline;
        text-align: center;
        margin-bottom: 2em;
    }

    .btn:hover {
        cursor: default;
    }

    .btn:not(:disabled):not(.disabled) {
        cursor: default;
    }

    .contact p {
        margin-left: 1em;
    }
}
