<div class="restaurant-detail" *ngIf="restaurant">
    <div class="img-card">
        <img [src]="restaurant.picture?.img ?
                             'data:' + restaurant.picture?.imgContentType + ';base64,' + restaurant.picture?.img :
                             restaurant.picture?.url || 'https://cdn.dribbble.com/users/366584/screenshots/2527274/404_1.gif'"
             alt="picture image"/>
    </div>
    <div class="row justify-content-center card-title">
        <span class="restaurant-name">
            {{restaurant.name}}
        </span>
        <span class="restaurant-rating" *ngIf="restaurant.rating">
            <i class="fa fa-star"></i>
            {{restaurant.rating / 10}}
        </span>
    </div>
    <div class="card-content" [ngSwitch]="languageService.currentLang">
        <p>{{restaurant.infoHun}}</p>
        <hr>
        <h5 jhiTranslate="restaurant-list.detail.kitchen">Konyhák:</h5>
        <div class="btn btn-outline-" *ngFor="let kitchen of restaurant.kitchens">
            <span *ngSwitchCase="'en'">{{kitchen.typeEng}}</span>
            <span *ngSwitchCase="'hu'">{{kitchen.typeHun}}</span>
        </div>
        <hr>
        <h5 jhiTranslate="restaurant-list.detail.food">Ételek:</h5>
        <div class="btn btn-outline-" *ngFor="let food of restaurant.foods">
            <span *ngSwitchCase="'en'">{{food.typeEng}}</span>
            <span *ngSwitchCase="'hu'">{{food.typeHun}}</span>
        </div>
        <hr>
        <div class="contact">
            <h5 jhiTranslate="restaurant-list.detail.contact">Elérhetőségek:</h5>
            <p>{{restaurant.postalCode}} {{restaurant.city.name}}, {{restaurant.streetAddress}}</p>
            <div class="map" *ngIf="restaurant.lat && restaurant.lng">
                <agm-map [zoom]="13" [latitude]="restaurant.lat" [longitude]="restaurant.lng">
                    <agm-marker [latitude]="restaurant.lat" [longitude]="restaurant.lng"></agm-marker>
                </agm-map>
            </div>
            <p><a [href]="'mailto:' + restaurant.email">{{restaurant.email}}</a></p>
            <p><a [href]="'tel:' + restaurant.phone">{{restaurant.phone}}</a></p>
            <p><a target="_blank" [href]="restaurant.website" jhiTranslate="restaurant-list.detail.website">Weboldal</a>
            </p>
            <p><a target="_blank" [href]="restaurant.facebook">Facebook</a></p>
        </div>
        <div class="comments" *ngIf="comments">
            <h5 jhiTranslate="restaurant-list.detail.review">Értékelések:</h5>
            <div class="row comment-content" *ngFor="let comment of comments">
                <span class="col-12">
                    {{comment.text}}
                </span>
                <span class="author">
                    {{comment.authorName}}
                </span>
            </div>
        </div>
        <button type="submit"
                (click)="previousState()"
                class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>
        <div class="reservation-button" (click)="delete($event)">
            <jhi-reservation-modal [restaurant]="restaurant"></jhi-reservation-modal>
        </div>
    </div>
</div>
