<div class="tabset">
    <ngb-tabset (tabChange)="resetFilters()">
        <ngb-tab title="{{'home.simplesearch' | translate}}">
            <ng-template ngbTabContent>
                <div class="row">
                    <div class="col-md-6">
                        <input [(ngModel)]="searchInput" type="text" name="search" class="form-control form-control-lg"
                               placeholder="{{'home.searchph' | translate}}" ngModel (keydown.enter)="search()"
                               (keydown.esc)="resetFilters()" (keydown.delete)="resetFilters()"
                               (click)="$event.target.select()">
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary btn-lg" (click)="search()">
                                    <i class="fa fa-search"></i>
                                    <span jhiTranslate="home.search">Keresés</span>
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-danger btn-lg" (click)="resetFilters()">
                                    <i class="fa fa-trash-o"></i>
                                    <span jhiTranslate="home.clear">Törlés</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="{{'home.detailedsearch' | translate}}">
            <ng-template ngbTabContent>
                <button class="btn btn-danger" (click)="resetFilters()">
                    <i class="fa fa-trash-o"></i>
                    <span jhiTranslate="home.clear">Törlés</span>
                </button>
                <div class="row">
                    <div class="col-md-4">
                        <div
                            (click)="addFilter(cities, cityModel, cityFilter)">
                            <label for="typeahead" jhiTranslate="restaurant-list.search.city">Search by:</label>
                            <input id="typeahead" type="text" class="form-control" [(ngModel)]="cityModel"
                                   [ngbTypeahead]="searchCity" [resultFormatter]="formatter"
                                   [inputFormatter]="formatter"
                                   (keyup.enter)="addFilter(cities, cityModel, cityFilter)"/>
                        </div>
                        <div *ngFor="let i of cityFilter">
                            <button class="btn btn-primary btn-lg" (click)="removeFilter(i, cityFilter)">
                                <i class="fa fa-times"></i>
                                {{i.name}}
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div (click)="addFilter(kitchens, kitchenModel, kitchenFilter)">
                            <label for="typeahead-kitchen" jhiTranslate="restaurant-list.search.kitchen">Search by
                                kitchen
                                type:</label>
                            <input id="typeahead-kitchen" type="text" class="form-control" [(ngModel)]="kitchenModel"
                                   [ngbTypeahead]="searchKitchen" [resultFormatter]="formatter"
                                   [inputFormatter]="formatter"
                                   (keyup.enter)="addFilter(kitchens, kitchenModel, kitchenFilter)"/>
                        </div>
                        <div *ngFor="let i of kitchenFilter">
                            <button class="btn btn-primary btn-lg" (click)="removeFilter(i, kitchenFilter)"
                                    [ngSwitch]="languageService.currentLang">
                                <i class="fa fa-times"></i>
                                <span *ngSwitchCase="'en'">{{i.typeEng}}</span>
                                <span *ngSwitchCase="'hu'">{{i.typeHun}}</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div (click)="addFilter(foods, foodModel, foodFilter)">
                            <label for="typeahead-food" jhiTranslate="restaurant-list.search.food">Search by food
                                type:</label>
                            <input id="typeahead-food" type="text" class="form-control" [(ngModel)]="foodModel"
                                   [ngbTypeahead]="searchFood" [resultFormatter]="formatter"
                                   [inputFormatter]="formatter"
                                   (keyup.enter)="addFilter(foods, foodModel, foodFilter)"/>
                        </div>
                        <div *ngFor="let i of foodFilter">
                            <button class="btn btn-primary btn-lg" (click)="removeFilter(i, foodFilter)"
                                    [ngSwitch]="languageService.currentLang">
                                <i class="fa fa-times"></i>
                                <span *ngSwitchCase="'en'">{{i.typeEng}}</span>
                                <span *ngSwitchCase="'hu'">{{i.typeHun}}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>

<div class="row">
    <div class="col-md-12 col-lg-6 cards"
         *ngFor="let restaurant of restaurants; trackById"
         [routerLink]="['../restaurant-detail', restaurant.id ]">
        <jhi-restaurant-card [restaurant]="restaurant"></jhi-restaurant-card>
    </div>
</div>

<ngb-pagination class="d-flex justify-content-center" [pageSize]="6" [collectionSize]="totalItems" [(page)]="page"
                [boundaryLinks]="true"
                (pageChange)="applyFilters()"></ngb-pagination>
