.cards {
    font-family: 'Lobster', cursive;
    margin-top: 2em;
}

.filter {
    margin-top: 1em;
}

.btn-lg {
    margin-top: 0.5em;
    width: 100%;
}

.pagination {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
