<div *ngIf="loading">
    <p>Töltés...</p>
</div>

<div *ngIf="!loading">
    <div *ngIf="success">
        <h4 *ngIf="confirm">Az alábbi foglalást sikeresen visszaigazoltad:</h4>
        <h4 *ngIf="!confirm">Az alábbi foglalást sikeresen elutasítottad:</h4>
        <ul>
            <li>Azonosító: {{reservation.id}}</li>
            <li>Étterem: {{reservation.restaurant.name}}</li>
            <li>Név: {{reservation.user.firstName}} {{reservation.user.lastName}}</li>
            <li>Időpont: {{reservation.time | date:'yyyy-MM-dd hh:mm'}}</li>
            <li>Vendégek száma: {{reservation.people}}</li>
        </ul>
    </div>

    <div *ngIf="!success">
        <div *ngIf="confirm">
            <p>Ezt a foglalást már sikeresen visszaigazoltad vagy elutasítottad.</p>
        </div>
    </div>
</div>
