<div *ngIf="loading">
    <p>Töltés...</p>
</div>

<div *ngIf="!loading">
    <div *ngIf="success">
        <h4 *ngIf="confirm" jhiTranslate="reservation.confirm.success">Az alábbi foglalást sikeresen
            visszaigazoltad:</h4>
        <h4 *ngIf="!confirm" jhiTranslate="reservation.confirm.noSuccess">Az alábbi foglalást sikeresen
            elutasítottad:</h4>
        <ul>
            <li><span jhiTranslate="reservation.confirm.restaurant">Étterem:</span> {{reservation.restaurant.name}}</li>
            <li><span jhiTranslate="reservation.confirm.name">Név:</span> {{reservation.user.firstName}}
                {{reservation.user.lastName}}
            </li>
            <li><span jhiTranslate="reservation.confirm.email">Email:</span> {{reservation.user.email}}</li>
            <li><span jhiTranslate="reservation.confirm.date">Időpont:</span> {{reservation.time | date:'yyyy-MM-dd
                hh:mm'}}
            </li>
            <li><span jhiTranslate="reservation.confirm.people">Vendégek száma:</span> {{reservation.people}}</li>
        </ul>
    </div>

    <div *ngIf="!success">
        <p jhiTranslate="reservation.confirm.linkUsed">Ezt a foglalást már sikeresen visszaigazoltad vagy
            elutasítottad.</p>
    </div>
</div>
