<ng-template #content let-c="close">
    <div class="modal-header">
        <h4 class="modal-title">{{restaurant.name}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" [ngSwitch]="isAuthenticated()">
        <form class="form">
            <div class="form-group">
                <label for="dp" class="form-label" jhiTranslate="reservation.modal.datePicker">Dátum:</label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" [disabled]="!isAuthenticated()"
                           name="dp" id="dp" [(ngModel)]="dateModel" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" (click)="d.toggle()" type="button"
                                [disabled]="!isAuthenticated()">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="tp" class="form-label" jhiTranslate="reservation.modal.timePicker">Időpont:</label>
                <ngb-timepicker name="tp" id="tp" [(ngModel)]="timeModel" [minuteStep]="30"
                                [disabled]="!isAuthenticated()"></ngb-timepicker>

                <label for="ppl" class="form-label" jhiTranslate="reservation.modal.ppl">Vendégek száma:</label>
                <input class="form-control col-2" type="number" name="ppl" id="ppl" [(ngModel)]="pplModel"
                       [disabled]="!isAuthenticated()">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" (click)="c('Close click')" *ngSwitchCase="true"
                        jhiTranslate="reservation.modal.button.close">Close
                </button>

                <button type="button" class="btn btn-outline-success" (click)="submit();c('Save click')"
                        *ngSwitchCase="true" jhiTranslate="reservation.modal.button.reserve">Foglalás!
                </button>

                <button type="button" class="btn btn-outline-primary" (click)="c('Close click')" *ngSwitchCase="false"
                        jhiTranslate="reservation.modal.button.login">Kérlek registrálj, vagy jelentkkzz be!
                </button>
            </div>
        </form>
    </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)" jhiTranslate="reservation.modal.button.open">
    Asztalfoglalás
</button>

<ngb-alert class="card-alert" *ngIf="!!successMessage" type="success" (close)="successMessage = null">
    {{successMessage | translate}}
</ngb-alert>
