.btn.btn-lg.btn-outline-primary {
    width: 100%;
}

.modal-title {
    font-family: 'Lobster', cursive;
}

.modal-footer {
    padding-bottom: 0;
}

.card-alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
