<div class="row">
    <div class="col-md-6">
        <span class="imgLeft img-fluid rounded"></span>
    </div>
    <div class="col-md-6">
        <h1 class="display-8" jhiTranslate="home.title1">Üzleti ebéd? Randevú?</h1>
        <h1 class="display-8" jhiTranslate="home.title2">Baráti összejövetel? Családi
            vacsora?</h1>
        <h1 class="display-8 subtitle" jhiTranslate="home.title3">Hol ennétek?</h1>
    </div>
</div>

<div class="container">
    <jhi-restaurant-list></jhi-restaurant-list>
</div>
