<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myReservationLabel" jhiTranslate="reservedApp.reservation.home.createOrEditLabel">Create or edit a Reservation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!reservation.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="reservation.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="reservedApp.reservation.time" for="field_time">Time</label>
            <div class="d-flex">
                <input id="field_time" type="datetime-local" class="form-control" name="time" [(ngModel)]="reservation.time"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.time?.dirty && editForm.controls.time?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.time?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.time?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="reservedApp.reservation.created" for="field_created">Created</label>
            <div class="d-flex">
                <input id="field_created" type="datetime-local" class="form-control" name="created" [(ngModel)]="reservation.created"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="reservedApp.reservation.confirmed" for="field_confirmed">Confirmed</label>
            <input type="checkbox" class="form-control" name="confirmed" id="field_confirmed"
                [(ngModel)]="reservation.confirmed" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="reservedApp.reservation.restaurant" for="field_restaurant">Restaurant</label>
            <select class="form-control" id="field_restaurant" name="restaurant" [(ngModel)]="reservation.restaurant"  required>
                <option *ngIf="!editForm.value.restaurant" [ngValue]="null" selected></option>
                <option [ngValue]="restaurantOption.id === reservation.restaurant?.id ? reservation.restaurant : restaurantOption" *ngFor="let restaurantOption of restaurants; trackBy: trackRestaurantById">{{restaurantOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.restaurant?.dirty && editForm.controls.restaurant?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.restaurant?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="reservedApp.reservation.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="reservation.user"  required>
                <option *ngIf="!editForm.value.user" [ngValue]="null" selected></option>
                <option [ngValue]="userOption.id === reservation.user?.id ? reservation.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.user?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
