<div>
    <h2>
        <span jhiTranslate="reservedApp.reservation.home.title">Reservations</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                           name="currentSearch" placeholder="{{ 'reservedApp.reservation.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="reservations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                <th jhiSortBy="time"><span jhiTranslate="reservedApp.reservation.time">Time</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="people"><span jhiTranslate="reservedApp.reservation.people">People</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="confirmed"><span jhiTranslate="reservedApp.reservation.confirmed">Confirmed</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="restaurant.name"><span
                    jhiTranslate="reservedApp.reservation.restaurant">Restaurant</span> <span class="fa fa-sort"></span>
                </th>
                <th *jhiHasAnyAuthority="'ROLE_MANAGER'" jhiSortBy="user.login"><span
                    jhiTranslate="reservedApp.reservation.user">User</span> <span
                    class="fa fa-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                   [infiniteScrollDistance]="0">
            <tr *ngFor="let reservation of reservations ;trackBy: trackId">
                <td>{{reservation.time | date:'medium'}}</td>
                <td>{{reservation.people}}</td>
                <td *ngIf="reservation.confirmed"><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
                <td *ngIf="!reservation.confirmed"><i class="fa fa-times fa-2x" aria-hidden="true"></i></td>
                <td>
                    <div *ngIf="reservation.restaurant">
                        <a [routerLink]="['../restaurant', reservation.restaurant?.id ]">{{reservation.restaurant?.name}}</a>
                    </div>
                </td>
                <td *jhiHasAnyAuthority="'ROLE_MANAGER'">
                    {{reservation.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../reservation', reservation.id ]"
                                class="btn btn-info"
                                *jhiHasAnyAuthority="'ROLE_MANAGER'">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
